* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    position: relative;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.btnTop {
    position: fixed;
    bottom: 30px;
    left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #839ed1;
    cursor: pointer;
    z-index: 20;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.btnTop:hover {
    background-color: #9AA9C5;
}

.btnTop.active {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.btnTop i {
    font-size: 30px;
    color: #fff;
}

header {
    width: 100%;
    border-bottom: 1px solid rgba(51, 51, 51, 0.162);
}

.container {
    max-width: 1440px!important;
    margin: 0 auto;
    width: 100%;
}

.bannerTop {
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.bannerTop img {
    width: 100%;
    height: 100%;
    object-fit:none;
}

.itemHeader {
    width: 100%;
    background-color: #E4E4E4;
}

.mainHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainHeader .btnMainHeader {
    display: flex;
}

.mainHeader .btnMainHeader button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #2761C8;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #fff;
    border: none;
    border-radius: 5px 5px 0 0;
    padding: 6px 15px;
    margin: 5px 2px;
    cursor: pointer;
}

.mainHeader .btnMainHeader button i {
    margin-right: 5px;
    font-size: 14px;
}

.mainHeader .btnMainHeader .btn1 {
   background-color: #DC1C24;
   color: #fff;
}

.mainHeader .btnMainHeader .btn1:hover{
   background-color: #c61d22;
   color: #fff;
}

.mainHeader .btnMainHeader .btn2 {
   background-color: #022768;
   color: #fff;
}

.mainHeader .btnMainHeader .btn2:hover {
   background-color: #041e4b;
   color: #fff;
}

.mainHeader .linkHeader {
    display: flex;

}

.mainHeader .linkHeader li {
    position: relative;
}

.mainHeader .linkHeader .subMenu li.active {
   display: block;
}

.mainHeader .linkHeader li a {
   color: rgb(64, 64, 64);
   font-size: 14px;
   margin-left: 15px;
}

.mainHeader .linkHeader li a:hover {
    color: #2761C8;
}

.mainHeader .linkHeader .subMenu {
    position: absolute;
    top: 0;
    left: -70px;
    height: 300px;
}

.mainHeader .linkHeader .subMenu2 {
    left: 10px;
}

.mainHeader .linkHeader .subMenu2 li {
    left: -30px;
}

.mainHeader .linkHeader .subMenu li {
    position: relative;
    top: 30px;
    display: none;
    flex-wrap: nowrap;
    max-width: 250px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.259);
    padding: 15px;
    z-index: 1;
 }

 .mainHeader .linkHeader .subMenu li::after {
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    transform: rotate(45deg);
    content: '';
    width: 20px;
    height: 20px;
    background-color: inherit;
    box-sizing: inherit;
    z-index: -1;
 }
 
 .mainHeader .linkHeader .subMenu li .textBox {
    margin-bottom: 7px;
 }

 .mainHeader .linkHeader .subMenu li .textBox p {
    font-size: 14px;
    color: rgb(64, 64, 64);
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

 .mainHeader .linkHeader .subMenu li .textBox span {
    font-size: 18px;
    font-weight: bold;
    color: #022768;
    margin-bottom: 10px;
}

.mainHeader .linkHeader .subMenu li .textBox a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
 }


.stickyHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.stickyHeader .logo {
    width: 250px;
    height: 40px;
}

.stickyHeader .logo a img {
    width: 100%;
    height: 100%;
}

.stickyHeader .logoForm {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.stickyHeader .search {
    display: flex;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #1E5BC6;
    margin-left: 20px;
    overflow: hidden;
}

.stickyHeader .search input {
    width: 600px;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 15px;
    color: rgb(64, 64, 64);
}

.stickyHeader .search button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    border: none;
    background-color: #1E5BC6;
    cursor: pointer;
}

.stickyHeader .search button i {
    color: #fff;
    font-size: 25px;
}

.stickyHeader .itensMenuHeader {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.stickyHeader .itensMenuHeader li {
    margin-left: 20px;
}

.stickyHeader .itensMenuHeader li a {
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
}

.stickyHeader .itensMenuHeader li a i {
    color: #1E5BC6;
    font-size: 40px;
}

.stickyHeader .itensMenuHeader .textMenuLink  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stickyHeader .itensMenuHeader .textMenuLink span {
    color: rgb(64, 64, 64);
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

nav {
    background-color: #1E5BC6;
}


nav .menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
}

nav .menu ul .listaMenu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px 5px;
    transition: all 0.3s ease-in-out;
}

nav .menu ul .listaMenu:last-child {
    padding: 8px 0px;
}

nav .menu ul .listaMenu:hover {
    background-color: #fff;
    border-radius: 5px 5px 0 0;
}

nav .menu ul .nt {
    padding: 10px 0px;
}

nav .menu ul .nt:hover {
    padding: 14px 10px;
}

nav .menu ul .listaMenu:hover span {
    color: #1E5BC6;
}

nav .menu ul .listaMenu span {
    font-size: 13px;
    color: #fff;
}

nav .menu ul .nt span {
    font-size: 15px;
    font-weight: bold;
}

nav .menu ul .listaMenu .subMenuPrincipal {
    position: absolute;
    top: 40px;
    left: -0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.259);
    opacity: 0;
    pointer-events: none;
    z-index: -6;
    visibility: hidden;
}

nav .menu ul .listaMenu .sub2 {
    padding: 20px;
}

nav .menu ul .listaMenu .subMenuPrincipal.active {
    opacity: 1;
    pointer-events: auto;
    z-index: 2;
    visibility: visible;
}

nav .menu ul .listaMenu .subMenuPrincipal li {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.162);
}

nav .menu ul .listaMenu .subMenuPrincipal li span {
    color: rgb(64, 64, 64);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav .menu ul .listaMenu .subMenuPrincipal li span:hover {
    color: #2761C8;
    text-decoration: underline;

}

.local .itemLocal {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 0;
}

.local .itemLocal i {
    font-size: 30px;
    color: #1E5BC6;
}

.local .itemLocal span {
    font-size: 12px;
    font-weight: bold;
    color: #041e4b;
}

.local .itemLocal p {
    font-size: 12px;
    color: rgb(64, 64, 64);
}

.local .itemLocal .location {
    display: flex;
    align-content: center;
}

.local .itemLocal .ico {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 1px solid #1E5BC6;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}

.local .itemLocal .ico i {
    font-size: 18px;
    color: #1E5BC6;
}

.local .itemLocal .popupLocation {
    position: absolute;
    top:2px;
    left: 10px;
    width: 300px;
    height: 320px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.259);
    transition: all 0.3s ease-in-out;
    z-index: -2;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    
}

.local .itemLocal .popupLocation.active {
    z-index: 6;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.local .itemLocal .popupLocation::after {
    position: absolute;
    top: -8px;
    left: 30px;
    right: 0;
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    background-color: inherit;
    transform: rotate(-45deg);
    z-index: 55;
}

.local .itemLocal .popupLocation .btnCloseModal {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
    cursor: pointer;
}

.local .itemLocal .popupLocation .textLocation {
    width: 100%;
    height:100%;
}

.local .itemLocal .popupLocation .textLocation form {
    position: relative;
    width: 100%;
    height: 55%;
    padding: 30px;
}

.local .itemLocal .popupLocation .textLocation form::after {
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    background-color: #fff;
    transform: rotate(-45deg);
    z-index: 7;
}

.local .itemLocal .popupLocation .textLocation form p {
    color: #333;
    font-size: 14px;
    margin: 0 0 20px 0;
}

.local .itemLocal .popupLocation .textLocation form label {
    color: #333;
    font-size: 12px;
}

.local .itemLocal .popupLocation .textLocation form .campoLoacation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    margin: 10px 0;
}

.local .itemLocal .popupLocation .textLocation form .campoLoacation input {
    color: #333;
    font-size: 14px;
    width: 65%;
    height: 100%;
    border: 1px solid rgb(186, 185, 185);
    border-radius: 5px;
    margin-right: 10px;
    padding-left: 10px;
    outline: none;
}

.local .itemLocal .popupLocation .textLocation form .campoLoacation button {
    color: #fff;
    font-size: 14px;
    width: 35%;
    height: 100%;
    background-color: #1E5BC6;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.local .itemLocal .popupLocation .textLocation .boxLocation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 45%;
    background: linear-gradient(180deg,#4000b2 39.34%,#a56cdf 138.47%);
    border-radius:0 0 5px 5px;
    padding: 30px;
}

.local .itemLocal .popupLocation .textLocation .boxLocation p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
}

.local .itemLocal .popupLocation .textLocation .boxLocation button {
    width: 100%;
    color: #4000b2;
    font-size: 14px;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0 30px 0;
}

main .bannerMain {
    margin: 0 0 10px 0;
}

main .bannerMain img {
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-radius: 5px;
}

main .slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

main .slide .contItem {
    overflow: hidden;

}

main .slide .carrosel {
    position: relative;

}

main .slide .carrosel .item {
    display: flex;
    align-items: center;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

main .slide .carrosel .item img {
    width: 100%;
    height: 340px;
    object-fit: cover;
}

main .slide .controls {
    position: absolute;
    top: 40%;
    width: 100%;
    margin: auto;
    z-index: 5;
}

main .slide .controls .left {
    position: absolute;
    left: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.829);
    z-index: 5;
    cursor: pointer;
}

main .slide .controls .rigth {
    position: absolute;
    right: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.829);
    z-index: 5;
    cursor: pointer;
}

main .slide .controls div {
    box-shadow: 0 0px 3px rgba(51, 51, 51, 0.5);
}

main .slide .controls div:hover {
    border: 1px solid #1E5BC6;
    box-shadow: 0 0px 5px rgba(51, 51, 51, 0.5);
}

main .cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;

}

main .cards .card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

main .cards .card img {
    width: 24.20%;
    max-width: 350px;
    border-radius: 5px;
    cursor: pointer;
}

section {
    width: 100%;
    margin-bottom: 50px;
}

section .listaProdutos {
    position: relative;
    margin-bottom: 50px;
}

section .listaProdutos .textTitle {
    color: #022768;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 15px;
    
}

section .listaProdutos .lista {
    
    width: 100%;
    overflow: hidden;
}

section .listaProdutos .lista .boxes {
    display: flex;
    align-items: center;
    width: calc(288px * 10);
    transition: all 0.3s ease-in-out;
}

section .listaProdutos .lista .boxes .box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 288px;
    border: 1px solid rgba(226, 220, 220, 0.539);
    border-radius: 5px;
    margin-right: 10px;
    padding: 30px 15px;
    cursor: pointer;
}

section .listaProdutos .lista .boxes .box .imgProduto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
    overflow: hidden; 
}

section .listaProdutos .lista .boxes .box .imgProduto img {
    width: 80%;
    height: 200px;
    overflow: hidden;
}

section .listaProdutos .lista .boxes .box .name p {
    width: 70%;
    font-size: 12px;
    line-height: 18px;
    color: rgb(64, 64, 64);
    margin-bottom: 5px;
}

section .listaProdutos .lista .boxes .box .valor p {
    font-size: 12px;
    color: rgb(64, 64, 64);
}

section .listaProdutos .lista .boxes .box .valor h1 {
    font-size: 18px;
    color: #1E5BC6;
    margin-bottom: 10px;
}

section .listaProdutos .lista .boxes .box .valor .valorAnterior {
    font-size: 14px;
    color: rgb(143, 139, 139);
    text-decoration:line-through;
}


section .listaProdutos .lista .boxes .box .favorito {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    border: 1px solid rgb(64, 64, 64);
    border-radius: 50%;
}

section .listaProdutos .lista .boxes .box .favorito i {
    font-size: 22px;
    z-index: 10;
    
}

section .listaProdutos .lista .boxes .box .desconto {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 70px;
    right: 10px;
    width: 40px;
    height: 20px;
    background-color: #FFE500;
    border-radius: 5px;
    padding: 5px;
}

section .listaProdutos .lista .boxes .box .desconto span {
    font-size: 12px;
    font-weight: bold;
}

section .listaProdutos .controls {
    position: relative;
    bottom: 250px;
    width: 100%;
    margin: auto;
    z-index: 9;
}

section .listaProdutos .prev {
    position: absolute;
    left: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.829);
    z-index: 5;
    cursor: pointer;
}

section .listaProdutos .next {
    position: absolute;
    right: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.829);
    z-index: 5;
    cursor: pointer;
}


section .listaProdutos .controls div {
    z-index: 566;
    box-shadow: 0 0px 3px rgba(51, 51, 51, 0.5);
}

section .listaProdutos .controls div:hover {
    box-shadow: 0 0px 5px rgba(51, 51, 51, 0.5);
    border: 1px solid #1E5BC6;
}

section .listaProdutos .categorias {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

section .listaProdutos .categorias .tipos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 130px;
    margin-bottom: 30px;
}

section .listaProdutos .categorias .tipos .imgCategoria {
    width: 100%;
    border: 1px solid rgb(186, 185, 185);
    border-radius: 50%;
    margin-bottom: 10px;
    cursor: pointer;
}

section .listaProdutos .categorias .tipos .imgCategoria:hover {
    box-shadow: 0 0px 5px #1E5BC6;
}

section .listaProdutos .categorias .tipos .imgCategoria img {
    width: 100%;
}

section .listaProdutos .categorias .tipos p {
    font-size: 16px;
    color: rgb(64, 64, 64);
}

section .listaProdutos .categorias .tipos p:hover {
    color: #1E5BC6;

}

section .listaProdutos .categoriasMd {
    display: flex;
    width: 100%;
}

section .listaProdutos .categoriasMd .tiposMd {
    width: 33%;
    padding-right: 5px;
}

section .listaProdutos .categoriasMd .tiposMd .imgMd {
    width: 100%;
}

section .listaProdutos .categoriasMd .tiposMd .imgMd img {
    width: 100%;
    height: 207px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

section .pd2 .lista .boxes {
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

section .listaProdutos .categoriasMd  {
    overflow: hidden;
}

section .listaProdutos .categoriasMd .imgMd2 {
    display: flex;
    width: 50%;
    height: 365px;
    overflow: hidden;
    border-radius: 5px;
}

section .listaProdutos .categoriasMd .m1 img {
    width: 50%;
    height: 365px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

section .listaProdutos .categoriasMd .imgMd2 img {
    margin-right: 10px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

section .listaProdutos .categoriasMd .imgMd2 .bannerMd2 {
    width: 100%;
    height: 182.5px;
    margin-right: 0;
    border-radius: 5px;
    cursor: pointer;
}


section .listaProdutos .categoriasMd .m2 {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

section .listaProdutos .categoriasMd .m2 .imgP2 {
    display: flex;
    width: 100%;
    height: 50%;
    margin-top: 10px;
}

section .listaProdutos .categoriasMd .m2 .imgP2 img {
    width: 50%;
    height: calc(182.5px - 2px);
    border-radius: 5px;
}

section .listaProdutos .lista .containerBx {
    width: 100%;
}

section .listaProdutos .lista .containerBx .cardBx {
    width: 20%;
    margin-right: 10px;
    cursor: pointer;
}

section .listaProdutos .lista .containerBx .cardBx .bx {
    width: 100%;
}

section .listaProdutos .lista .containerBx .cardBx .bx img {
    width: 100%;
    object-fit: cover;
}

section .btnExtra {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

section .btnExtra button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 270px;
    height: 40px;
    border: 1px solid #1E5BC6;
    border-radius: 5px;
    background-color: #fff;
    color: #1E5BC6;
    cursor: pointer;
}

section .btnExtra button:hover {
    border: 1px solid #6b99ea;
    color: #6b99ea;
}

section .listBtn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .listBtn li {
    display: flex;
    align-items: center;
    height: 60px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 30px;

}

section .listBtn li .icoBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.419);
    margin-right: 20px;
    color: #DC1C24;
}

section .listBtn li .textBtn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 150px;
}

section .listBtn li .textBtn h1 {
    font-size: 14px;
}

section .listBtn li .textBtn p {
    font-size: 12px;
    color: rgb(109, 108, 108);
    width: 150px;

    line-height: 15px;
}

section .listBtn li .textBtn a {
    font-size: 12px;
    text-decoration:underline;
}

section .bannerBottom {
    width: 100%;
    height: 100px;
    cursor: pointer;
}

section .bannerBottom img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid rgba(51, 51, 51, 0.162);
    margin-bottom: 20px;
}

.pdFinal {
    display: flex;
    flex-direction: column;
    border-bottom: none;
    margin-bottom: 30px;
}

footer .links {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

footer .links h1 {
    font-size: 16px;
    margin-bottom: 35px;
}

footer .links .listaContainer {
    width: 20%;
    margin-bottom: 20px;
    margin-right: 30px;
}

footer .links .listaContainer:last-child {
    margin-right: 0;
}

footer .links .listaLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .links .listaLinks a {
    font-size: 12px;
    color: rgb(118, 117, 117);
    margin-bottom: 20px;
}

footer .links .listaContainer .listaBtn p {
    font-size: 12px;
    color: rgb(118, 117, 117);
    margin-bottom: 5px;
}


footer .links .listaContainer .listaBtn button  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 270px;
    height: 40px;
    border: 1px solid #1E5BC6;
    border-radius: 5px;
    background-color: #fff;
    color: #1E5BC6;
    margin-bottom: 20px;
    cursor: pointer;
}

footer .links .listaContainer .listaBtn button:hover {
    border: 1px solid #6b99ea;
    color: #6b99ea;
}

footer .links .listaContainer .listaBtn .textFoot p:nth-child(2) {
    color: #000;
    font-weight: bold;
}

footer .footer1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

footer .footer1 .formaPg h1 {
    font-size: 14px;
    margin-bottom: 10px;
}

footer .footer1 .formaPg .imgPg {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    margin-bottom: 20px;
    overflow: hidden;
}

footer .footer1 .formaPg .imgPg img {
    width: 32px;
    height: 24px;
    margin-right: 20px;
}

footer .footer1 .formaPg .imgPg p {
    font-size: 12px;
    margin-right: 20px;
}


footer .footer1 .footerSocial h1{
    font-size: 14px;
    margin-bottom: 10px;
}

footer .footer1 .footerSocial .social {
    display: flex;
    align-items: center;
}

footer .footer1 .footerSocial .social img {
    height: 24px;
    margin-right: 20px;
}

footer .footer2 {
    display: flex;
    justify-content: space-between;
}

footer .footer2 .textFooter p {
    font-size: 12px;
    color: rgb(118, 117, 117);
    margin-bottom: 10px;
}

footer .footer2 .textFooter a {
    font-size: 12px;
    color: rgb(118, 117, 117);
}

footer .footer2 .textFooter a:hover {
    color: #1E5BC6;
}

footer .footer2 .seguraça {
    display: flex;
    align-items: center;
}

footer .footer2 .seguraça img:first-child {
    width: 99px;
    max-height: 33px;
}

footer .footer2 .seguraça img:last-child {
    max-height: 99px;
    margin-left: 40px;
    cursor: pointer;
}

section .containerLojas .searchLojas {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1E5BC6;
    padding: 50px 150px;
}

section .containerLojas .searchLojas .textBloco {
    text-align: center;
    margin-bottom: 20px;
}
section .containerLojas .searchLojas .textBloco h1 {
    color: #fff;
    font-size: 30px;
}

section .containerLojas .searchLojas form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

section .containerLojas .searchLojas form label {
    width: 100%;
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
}

section .containerLojas .searchLojas form .campoSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 7px;
    overflow: hidden;
}


section .containerLojas .searchLojas form .campoSearch input {
    width: calc(100% - 80px);
    height: 100%;
    border: none;
    padding-left: 15px;
    outline: none;
}

section .containerLojas .searchLojas form .campoSearch button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 100%;
    border: none;
    background-color: #041e4b;
    color: #fff;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}

section .containerLojas .listaLojas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

section .containerLojas .listaLojas .cardLojas {
    width: 100%;
    max-width: 290px;
    box-shadow: 0 0 20px rgba(51, 51, 51, 0.179);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

section .containerLojas .listaLojas .cardLojas:nth-child(1),
section .containerLojas .listaLojas .cardLojas:nth-child(4),
section .containerLojas .listaLojas .cardLojas:nth-child(5),
section .containerLojas .listaLojas .cardLojas:nth-child(8),
section .containerLojas .listaLojas .cardLojas:nth-child(9),
section .containerLojas .listaLojas .cardLojas:nth-child(13),
section .containerLojas .listaLojas .cardLojas:nth-child(14) {
    margin-left: 0;
    margin-right: 0;
}

section .containerLojas .listaLojas .cardLojas .itemCard {
   display: flex;
}

section .containerLojas .listaLojas .cardLojas .itemCard img {
   width: 40px;
   height: 40px;
   margin-right: 10px;
}

section .containerLojas .listaLojas .cardLojas .itemCard .textCard  {
    margin-bottom: 15px;
}

section .containerLojas .listaLojas .cardLojas .itemCard .textCard h1 {
    font-size: 16px;
    color: #1E5BC6;
    margin-bottom: 10px;
}

section .containerLojas .listaLojas .cardLojas .itemCard .textCard p {
    font-size: 12px;
    color: #333;
    margin-bottom: 5px;
}

section .containerLojas .listaLojas .cardLojas .itemCard .textCard p:last-child {
    margin-bottom: 0;
}

section .containerLojas .listaLojas .cardLojas button {
    width: 100%;
    height: 40px;
    margin-top: 5px;
    border: 1px solid #1E5BC6;
    border-radius: 5px;
    background-color: #1E5BC6;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

section .containerLojas .listaLojas .cardLojas button:last-child {
    background-color: #fff;
    color: #1E5BC6;
}

section .containerLojas .listaLojas .cardLojas button:hover {
    background-color: #6b99ea;
}

section .containerLojas .listaLojas .cardLojas button:last-child:hover {
    border: 1px solid #6b99ea;
    color:  #6b99ea;
    background-color: #fff;
}

.menuHamburger {
    display: none;
}

.textTotal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px;
}

.textTotal p {
    text-align: center;
    font-size: 14px;
    margin: 0 5px;
}

.textTotal h1 {
    text-align: center;
    font-size: 16px;
}




@media (max-width: 1450px) {

    .container {
        padding-left:50px;
        padding-right:50px;
    }

    .stickyHeader .search input {
        width: 450px;
    }

   
    nav .menu ul .listaMenu span {
        font-size: 10px;
    }

    nav .menu ul .nt span {
        font-size: 16px;
    }


}

@media (max-width: 1300px) {

    .container {
        padding-left:50px;
        padding-right:50px;
    }

    .stickyHeader .search input {
        width: 350px;
    }

    .stickyHeader .itensMenuHeader li:nth-child(3) {
        display: none;
    }
}

    .stickyHeader .itensMenuHeader .textMenuLink {
        display: none;
    }


@media (max-width: 1260px) {

    .container {
        padding-left:50px;
        padding-right:50px;
    }

    .stickyHeader .search input {
        width: 250px;
    }
}

@media (max-width: 1024px) {

    .mainHeader .linkHeader li:nth-child(1),
    .mainHeader .linkHeader li:nth-child(3) {
        display: none;
    }

    .stickyHeader .itensMenuHeader li:nth-child(3) {
        display: none;
    }

    .stickyHeader .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 40px;
    }

    .menu {
        display: none;
    }

    .menuHamburger {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 30px;
        height: 20px;
        margin-right: 15px;
        cursor: pointer;
    }

    .menuHamburger span {
        width: 100%;
        height: 3px;
        background-color: #000;
    }
   
    .stickyHeader .itensMenuHeader .textMenuLink {
        display: none;
    }

    .stickyHeader .search input {
        justify-content: center;
        width: 350px;
    }

    main .cards .card img {
        width: 49%;
        max-width: 600px;
        margin-bottom: 15px;
    }

    footer .links {
        flex-direction: column;
    }

    footer .links .listaContainer {
        width: 100%;
        margin-bottom: 0;
        cursor: pointer;
    }

    footer .links .listaContainer .textFooterLink {
        display: flex;
        align-items: center;
        padding: 15px 0px ;
        border-top: 1px solid rgba(51, 51, 51, 0.172);
    }

    footer .links .listaLinks {
        position: relative;
        height: 1px;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    footer .links .listaLinks.active {
        height: inherit;
        opacity: 1;
        pointer-events: auto;
        visibility: visible;

    }

    footer .links h1 {
        margin-bottom: 0;
    }
    
    footer .links .listaContainer:last-child {
        display: none;
    }


}

@media (max-width: 850px ) {
    .stickyHeader .itensMenuHeader {
        display: none;
    }

    .stickyHeader .search input {
        max-width: 250px;
    }

    section .listaProdutos .lista .containerBx  {
        flex-wrap: wrap;
        justify-content: center;
    }

    section .listaProdutos .lista .containerBx .cardBx {
        width: 25%;
        margin-bottom: 5px;
    }

    footer .footer1 {
        display: none;
    }

    section .listaProdutos .textTitle  {
        font-size: 14px;
    }

    section .listaProdutos .categoriasMd .imgMd2 {
        width: 100%;
    }

    section .listaProdutos .categoriasMd .m1 {
        display: none;
    }

    section .listaProdutos .categoriasMd {
        flex-wrap: wrap;
    }

    section .listaProdutos .categoriasMd .tiposMd {
        width: auto;
    }

    section .listaProdutos .categoriasMd .tiposMd:first-child {
        display: none;
    }

    section .containerLojas .searchLojas {
        padding: 25px 25px;
    }
}

@media (max-width: 600px ) {

    .stickyHeader {
        position: relative;
    }

    .menuHamburger {
        position: absolute;
        left: 40px;
        top: 10px;
    }

    .stickyHeader .logoForm {
        flex-direction: column;
    }

    .mainHeader .linkHeader li:nth-child(2) {
        display: none;
    }


    .mainHeader .linkHeader li:nth-child(2) ul {
        display: none;
    }

    .mainHeader .linkHeader li:nth-child(1), .mainHeader .linkHeader li:nth-child(4),
    .mainHeader .linkHeader li:nth-child(1), .mainHeader .linkHeader li:nth-child(5) {
        display: none;
    }

    section .listaProdutos .lista .containerBx .cardBx {
        width: 47.5%;
        margin-bottom: 5px;
    }

    main .slide .carrosel .item img {
        height: 170px;
    }

    .container {
        padding: 0 20px;
    }

    .mainHeader .btnMainHeader a:nth-child(1) {
        display: none;
    }

    main .slide .controls .left, section .listaProdutos .prev {
        width: 30px;
        height: 30px;
        left: 0px;
    }

    main .slide .controls .rigth, section .listaProdutos .next {
        width: 30px;
        height: 30px;
        right: 0px;
    }
    
    footer .footer2 .seguraça {
        display: none;
    }
    
    section .bannerBottom img {
        object-fit:cover ;
    }

    section .containerLojas .listaLojas .cardLojas {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

